<h1>Edit post!</h1>


<form action="<%= sub_post_url(@sub, @post)%>" method="POST">
<%= auth_token %>
<input type="hidden" name="_method" value="PATCH">
<label>Title:
<input type="text" name="post[title]" value="<%=@post.title%>"></label>
<br>
<label>URL:<input type="text" name="post[url]" value="<%=@post.url%>"></label>
<br>
<label>Message:<input type="text" name="post[content]" value="<%=@post.content%>"></label>
<br>
<input type="submit" value="Post!">
</form>