<h1> Rent-a-Cat-Cop</h1>


<form action="<%= cat_rental_requests_url %> " method="POST">
<label>Cat ID:  
  <input type="text" name="cat_rental_request[cat_id]" value="<%= cat_rental_requests.cat_id %>">
</label>
<br><br>
<label>Start Date:  
  <input type="date" name="cat_rental_request[start_date]" value="<%= cat_rental_requests.start_date %>">
</label>
<br><br>
<label>End Date:  
  <input type="date" name="cat_rental_request[start_date]" value="<%= cat_rental_requests.end_date %>">
</label>
<label>Cat:  
  <select name="cat[color]">
    <option disabled selected>-- Choose Color --</option>
    <%Cat.all.each do |cat| %>
      <option value="<%=cat%>"><%=cat%></option>
    <%end%>
  </select>
</label>
<br><br>
<br>
<input type="submit" value="<%= type == :edit ? "Update Cat" : "Create a kitty!"%>">

</form>