<% if type == :edit %>
  <% action_url = cat_url(cats) %>
<% else %>
  <% action_url = cats_url %>
<% end %>

<form action="<%= action_url %> " method="POST">
  <% if type == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
<label>Name:  
  <input type="text" name="cat[name]" value="<%= cats.name %>">
</label>
<br><br>
<label>Sex:  
  <input type="radio" name="cat[sex]" value="M">M
  <input type="radio" name="cat[sex]" value="F">F
</label>
<br><br>
<label>Color:  
  <select name="cat[color]">
    <option disabled selected>-- Choose Color --</option>
    <%Cat::COLORS.each do |color| %>
      <option value="<%=color%>"><%=color%></option>
    <%end%>
  </select>
</label>
<br><br>
<label>Birth Date:  
  <input type="date" name="cat[birth_date]" value="<%= cats.birth_date %>">
</label>
<br><br>
<label>Description:  
  <input type="textarea" name="cat[description]" value="<%= cats.description %>">
</label>
<br>
<br>
<input type="submit" value="<%= type == :edit ? "Update Cat" : "Create a kitty!"%>">

</form>