<table style="border: 1px solid;">
<thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Birth Date</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody >
 <tr>
 <td><%=@cats.name%></td>
 <td><%=@cats.description%></td>
 <td><%=@cats.sex%></td>
 <td><%=@cats.age%></td>
 <td><%=@cats.birth_date%></td>
 <td><%=@cats.color%></td>
 <td><a href="<%=cats_url%>">See all cats!</a></td>
 </tr>


</tbody>
</table>